body {
    width: 100%;
    padding: 0%;
    margin: 0%;
    background-color: #EEEEEE;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#686D76 ;
}

h1 {
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-weight: bolder;
}

h2 {
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#19D3DA;
    font-weight: bold;
    line-height: 5vh;
}

h3 {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #19D3DA;
}


/* Styling the header*/
.header {
    background: linear-gradient(#373A40, #686D76);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header > img {
    position: relative;
    height : 5vw;
    width: auto;
}

/* Styling the body*/
.body {
    position: relative;
    display: flex;
    display: flex;
    padding: 2vw 10vw;
}

.container {
    position: relative;
    margin-right: 2vw;
}

.user-input {
    position:relative;
    width: 80%;
    align-items: center;
}
/* Styling the input */
.user-input > input {
    background-color: transparent;
    position: relative;
    border-top: 0cm;
    border-left: 0cm;
    border-right: 0cm;
    height: 2vw;
    width: 15vw;
}

.box {
    position: relative;
    width: 30%;
    display: flex;
    justify-content: right;
    align-items: flex-start;
}

.container,user-input > p {
    position: relative;
    font-weight: bold;
    font-size: 20px;
}

.album {
    position: relative;
    display: flex;
}

.footer {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0vw 10vw 0vw 0vw;
}

.answers {
    position:relative;
    display: flex;
    flex-direction: column;
    margin-top: 3vw;
}

/* Utilities*/
button { 
    height: 3vw;
    width: 6vw;
    position: relative;
    background-color:#19D3DA;
    border-radius: 25px;
    border: 0cm;
    color:white;
    font-weight: bold;
    font-family: 'Times New Roman';
    font-size: 15px;
    padding: 1vh 2vh;
}